<html>
	<head>
		<!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.16.0/bootstrap-vue.min.css"/>
		<!--FontAwesome import-->
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

		<!-- App -->
		<link type="text/css" rel="stylesheet" href="/resources/static/style.css">
		<link type="text/css" rel="stylesheet" href="/resources/static/tree.css">

		<link type="text/css" rel="stylesheet" href="/resources/static/base_timer.css">
	</head>
	<body>
		<b-container fluid id="app">

			<br>
			<initial-questionnaire 
				v-if="stage==0"
				:topic="topic"
				:time_limit="time_limit" 
				:finish_fn="finish_step_fn"
			></initial-questionnaire>
			<e-reader-no-qa
				v-if="stage==1"
				:book="book"
				:topic="topic"
				:time_limit="time_limit" 
				:warning_threshold="warning_threshold" 
				:alert_threshold="alert_threshold"
				:finish_fn="finish_step_fn"
			></e-reader-no-qa>
			<exam 
				v-if="stage==2" 
				:topic="topic"
				:finish_fn="save_results_fn"
			></exam>
			<div v-if="stage==3" >
				<b-card title="Final Message">
			      <b-card-text>Thank you! You can close this page.</b-card-text>
			    </b-card>
			</div>

		</div>
		<footer>
			<!-- JQUERY -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.16.0/bootstrap-vue.min.js"></script>
			<script type="text/javascript" src="/resources/static/lib/vue-cookies.js"></script>
			<!-- PDF.js -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.sandbox.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.worker.min.js"></script>
			
			
			<!-- Internal libs, keep this exact order of import -->
			<script type="text/javascript" src="/resources/static/lib/common_fn.js"></script>
			<!-- Shared popup stuff, keep this exact order of import -->
			<script type="text/javascript" src="/resources/static/template/template_lib.js"></script>
			<script type="text/javascript" src="/resources/static/template/template.js"></script>
			<script type="text/javascript" src="/resources/static/template/jsonld_handler.js"></script>
			<!-- Content Script, keep this exact order of import -->
			<script type="text/javascript" src="/resources/static/stage_builder/item_stage_builder.js"></script>
			<script type="text/javascript" src="/resources/static/stage_builder/domain_stage_builder.js"></script>
			<script type="text/javascript" src="/resources/static/stage_builder/api_lib.js"></script>
			<!-- App, keep this exact order of import -->
			<script type="text/javascript" src="/resources/static/config.js"></script>
			<script type="text/javascript" src="/resources/static/vue_component/explanation_components.js"></script>
			<script type="text/javascript" src="/resources/static/vue_component/pdf_viewer.js"></script>
			<script type="text/javascript" src="/resources/static/vue_component/base_timer.js"></script>

			<script type="text/javascript" src="/resources/static/vue_component/initial_questionnaire.js"></script>
			<script type="text/javascript" src="/resources/static/vue_component/bva_explorer.js"></script>
			<script type="text/javascript" src="/resources/static/vue_component/e_reader_no_qa.js"></script>
			<script type="text/javascript" src="/resources/static/vue_component/exam.js"></script>
			<script type="text/javascript" src="/resources/static/app.js"></script>
		</footer>
	</body>
</html>